<!doctype html>
<html ng-app="riverApp">
  <head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body ng-controller="RiverController">

    <div id="container">
      <div id="control">
	<select ng-model="currentRiver" ng-click="changeRiver" ng-options="r.title for r in rivers"></select>
	<i class="fa ng-class: {'fa-refresh': !loading, 'fa-spinner': loading};" ng-click="refresh();"></i>
	<small class="time">Updated: <span ng-bind="riverObj.metadata.whenGMT | convertDate | date:'medium'"></span></small>
      </div>

      <div class="section" ng-class="{first: $first}" ng-repeat="feed in riverObj.updatedFeeds.updatedFeed">
	<div class="header">
	  <h2><a ng-bind="feed.feedTitle" ng-href="{{ feed.websiteUrl }}"></a> (<a ng-href="{{ feed.feedUrl }}">Feed</a>)</h2>
	  <small class="time" ng-bind="feed.whenLastUpdate | convertDate | date:'hh:mm a; M/dd/yy'"></small>
	</div>

	<div ng-class="{first: $first}" class="article" id="{{ item.id }}" ng-repeat="item in feed.item">
	  <h3><a ng-bind-html="item.title" ng-href="{{ item.link }}" target="_blank" rel="external"></a></h3>
	  <p ng-bind-html="item.body"></p>
	  <small class="time" ng-bind="item.pubDate | convertDate | date:'hh:mm a; M/dd/yy'"></small>
	</div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
    <script src="controllers.js"></script>
  </body>
</html>
